<section>
	<div class="container">
		<div class="row mb-3">
			<div class="col-12 text-center">
				<div class="display-3">
					<span>Some things</span> <span>I've made</span>
				</div>
				<div class="lead">
					(besides this website)
				</div>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h3>CODE</h3>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="container mt-2">
		<div class="row">
			<div class="col-12 mb-3">
				<ul class="list-unstyled">
					<li class="media">
						<div class="media-body">
							<h5 class="mt-0 mb-2"><a href="https://linkedlist.dev/">linkedlist.dev</a></h5>
							<blockquote>
								<p>
								Linked lists are often referred to in coding interviews questions.</p><p>To better understand the concept, I created a linked list Python class object from scratch as well as a visual interface to interact with it (bugs included, such as when popping a node). Made with Flask.
								</p>
							</blockquote>
							<h6><a href="https://github.com/jeffykle/linkedlistpractice" title="github - jeffykle - linkedlist" target="_blank">Github</a></h6>

						</div>
					</li>
				</ul>
			</div>
			<div class="col-12 mb-3">
				<ul class="list-unstyled">
					<li class="media">
						<div class="media-body">
							<h5 class="mt-0 mb-2"><a href="https://kayleighfichtenstudio.com/">Kayleigh Fichten Studio</a></h5>
							<blockquote>
								<p>A demo <a href="https://docs.wagtail.io/en/latest/getting_started/the_zen_of_wagtail.html">Wagtail</a> website built for a real artist.
								</p>
							</blockquote>
							<h6><a href="https://github.com/jeffykle/kf-public" title="github - jeffykle - linkedlist" target="_blank">Github</a></h6>
						</div>
					</li>
				</ul>
			</div>
			<div class="col-12 mb-3">
				<ul class="list-unstyled">
					<li class="media">
						<div class="media-body">
							<h5 class="mt-0 mb-2"><a href="https://timeguard.web.app/">Timeguard</a></h5>
							<blockquote>
								<p>A remote time management aid created using Vue.js and Firebase which allows you to create timers (TimeGuards) which each have a unique URL which can be shared with any number of "Client" users.
								</p>
							</blockquote>
							<h6 class="text-muted">* Github repo for this project is not currently public. </h6>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>

<section>
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h3>AUDIO</h3>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="container mt-2">
		<div class="row">
			<div class="col-12">
				<ul class="list-unstyled">
					<li class="media">
						<div class="media-body">
							<h5 class="mt-0 mb-1"><a href="https://soundcloud.com/jeffykle">SoundCloud</a></h5>
							Every once in a while I'll put up a sound.
						</div>
					</li>
				</ul>
			</div>
			<div class="col-12">
				<ul class="list-unstyled">
					<li class="media">
						<div class="media-body">
							<h5 class="mt-0 mb-1"><a href="https://www.reverbnation.com/djjk">ReverbNation</a></h5>
							The sound archives. I swear I'll back up these files one day.
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>