<section>
	<div class="container">
		<div class="row mb-3">
			<div class="col-12 text-center">
				<div class="display-3">
					<span>Some things</span> <span>I've made</span>
				</div>
				<div class="lead">
					(besides this website)
				</div>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h3>CODE</h3>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="container mt-2">
		<div class="row">
			<div class="col-12">
				<ul class="list-unstyled">
					<li class="media">
						<div class="media-body">
							<h5 class="mt-0 mb-1"><a href="https://linkedlist.dev/">linkedlist.dev</a></h5>
							<blockquote>
								<p>
								Linked lists are often referred to in coding interviews questions (or so I've heard).</p><p>To better understand the concept, I created a linked list class of my own as well as a visual interface to interact with it (bugs included).
								</p>
							</blockquote>
							<h6><a href="https://github.com/jeffykle/linkedlistpractice" title="github - jeffykle - linkedlist" target="_blank">Github</a></h6>

						</div>
					</li>
				</ul>
			</div>
			<div class="col-12">
				<ul class="list-unstyled">
					<li class="media">
						<div class="media-body">
							<h5 class="mt-0 mb-1"><a href="https://kayleighfichtenstudio.com/">Kayleigh Fichten Studio</a> *(for demo purposes only)</h5>
							<blockquote>
								<p>A <a href="https://docs.wagtail.io/en/latest/getting_started/the_zen_of_wagtail.html">Wagtail</a> website built for a real artist by a fake developer.
								</p>
							</blockquote>
							<h6><a href="https://github.com/jeffykle/kf-public" title="github - jeffykle - linkedlist" target="_blank">Github</a></h6>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>

<section>
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h3>AUDIO</h3>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="container mt-2">
		<div class="row">
			<div class="col-12">
				<ul class="list-unstyled">
					<li class="media">
						<div class="media-body">
							<h5 class="mt-0 mb-1"><a href="https://soundcloud.com/jeffykle">SoundCloud</a></h5>
							Every once in a while I'll put up a sound.
						</div>
					</li>
				</ul>
			</div>
			<div class="col-12">
				<ul class="list-unstyled">
					<li class="media">
						<div class="media-body">
							<h5 class="mt-0 mb-1"><a href="https://www.reverbnation.com/djjk">ReverbNation</a></h5>
							The sound archives. I swear I'll back up these files one day.
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>