<section>
    <div class="jumbotron text-center">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="display-1"><span>My name is</span>&nbsp;<span>Jeff Kelly</span></div>
                    <img src="{{ url_for('static', filename='images/me.jpg') }}" width="250" height="250" alt="" class="mb-4"/>
                    <p class="lead">I am important. I am smart. Please look at my website.</p>
                </div>
            </div>
        </div>
    </div>
</section>
